.Main{
    position: absolute;
    height: 100%;
    width: 17%;
    background-color: #508ae6;
}

.nav_design {
    background-color :#074bb5;
    width: auto;
}
img {
    border-radius: 40px;
}
h1 {
    font-family: algerian;
}

