.sample{
    border: 1px solid lightblue;
    box-shadow: lightgray;
    max-width: 800px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 400px;
    margin-top: 20px;
}

.sample_result {
    border: 1px solid lightblue;
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: block;
    margin-left: 400px;
    margin-top: 20px;
}

.design {
    padding: 5px 15px;
    color: rgb(10, 101, 104);
    background-color: rgb(192, 218, 226);
    margin: auto;
    font-size: larger;
    font-style: oblique;
}

.design_note{
    font-style: italic;
    font-size: small;
}
p {
    font-size: large;
}

.yaxis_design {
    position: absolute;
    left: 470px;
    top:320px;
    transform: rotate(270deg);
}

.xaxis_design {
    position: absolute;
    left: 740px;
    top:480px;
}


