.btn {
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
    width: 150px;
  }
  
  .btn:hover {background-color: green}
  
  .btn:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .btn1 {
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
    width: 150px;
  }
  
  .btn1:hover {background-color: red}
  
  .btn1:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  body {
    background:  url("C:\Users\yashi\AppData\Roaming\Microsoft\Windows\Network Shortcuts\image1.jpg") ;
    color: black;
    padding: 40px;
    font-family: Algerian;
    text-align: center;
   
     
  }
  /* img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
  