.back-btn {
	color: #596278;
	background-color: #fff;
	border: none;
	cursor: pointer;
	padding: 8px 15px;
	border-radius: 4px;
	font-weight: 700;
	margin-left: 16rem;
	margin-top: 10px;
	position: relative;
}
h3 {
	margin-left: 16rem;
	margin-top: 10px;
	position: relative;
}